# Build directories
build/
msvc/*/build/
out/

# Visual Studio
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeSettings.json

